.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row-container {
  display: flex;
  margin: 20px;
}

.card {
  width: 500px;
  height: 250px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.type {
  text-align: right;
  margin-bottom: 10px; 

}

.owner, .exp {
  text-align: left;
}

.number {
  margin: 30px;
}